<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="online.kyralo.user.dao.UserCollectionMapper">
  <resultMap id="userCollection" type="online.kyralo.user.domain.UserCollection">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="CHAR" property="userId" />
    <result column="video_id" jdbcType="CHAR" property="videoId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>


  <select id="listUserCollectionsById" resultType="online.kyralo.video.domain.VideoList">
    select  video.id,
            author_id as authorId,
            avatar_url as authorAvatar,
            user.name as authorName,
            title,
            introduction,
            kind_id as kindId,
            cover_url as coverUrl,
            video_url as videoUrl,
            video.fettle,
            user_collection.create_time as createTime
    from video, user, user_collection
    where user_id = #{userId}
      and  user_collection.video_id = video.id
      and  video.author_id = user.id
  </select>

</mapper>